// Color variables
// grey shades
$c-g0: #ffffff;
$c-g1: #e6e6e6;
$c-g2: #d9d9d9;
$c-g3: #cccccc;
$c-g4: #b3b3b3;
$c-g5: #999999;
$c-g6: #808080;
$c-g7: #666666;
$c-g8: #4d4d4d;
$c-g9: #333333;
$c-g10: #000000;

// blue shades
$c-b0: #e6f7ff;
$c-b1: #b3e5fc;
$c-b2: #81d4fa;
$c-b3: #4fc3f7;
$c-b4: #29b6f6;
$c-b5: #03a9f4;
$c-b6: #039be5;
$c-b7: #0288d1;
$c-b8: #0277bd;
$c-b9: #01579b;
$c-b10: #003c8f;

// // blue-grey shades
// $c-b0: #f0f4f8;
// $c-b1: #d9e2ec;
// $c-b2: #bcccdc;
// $c-b3: #9fb3c8;
// $c-b4: #829ab1;
// $c-b5: #627d98;
// $c-b6: #486581;
// $c-b7: #334e68;
// $c-b8: #243b53;
// $c-b9: #102a43;
// $c-b10: #0b1e33;