// Color variables
// grey shades
$c-g0: #ffffff;
$c-g1: #f1f1f1;
$c-g2: #d9d9d9;
$c-g3: #cccccc;
$c-g4: #b3b3b3;
$c-g5: #999999;
$c-g6: #808080;
$c-g7: #666666;
$c-g8: #4d4d4d;
$c-g9: #333333;
$c-g10: #000000;

// blue shades
$c-b0: #e3f2fd;
$c-b1: #bbdefb;
$c-b2: #90caf9;
$c-b3: #64b5f6;
$c-b4: #42a5f5;
$c-b5: #2196f3;
$c-b6: #1e88e5;
$c-b7: #1976d2;
$c-b8: #1565c0;
$c-b9: #0d47a1;
$c-b10: #04091f;


// red shades
$c-r0: #ffeaea;
$c-r2: #ffb4b4;
$c-r7: #ff3333;
$c-r10: #DC3444;

// green shades
$c-gr10: #28A745;