@import "./config.module.scss";

.layout_cnt {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    &_sidebar {
        flex-basis: 16%;
        width: 100%;
        height: 100%;
        border-right: 1px solid $c-g2;
    }

    &_content {
        flex-basis: 84%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &_header {
            flex-basis: 7.72%;
            width: 100%;
            height: 100%;
            padding: 5px 15px;
            background: $c-g0;
            border-bottom: 1px solid $c-g2;
            position: sticky;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 1;

            &_profile {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border: 1px solid $c-g3;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .menu {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    .list {
                        position: absolute;
                        top: 5px;
                        right: 0;
                        width: 200px;
                        height: fit-content;
                        background: $c-g0;
                        border-radius: 5px;
                        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
                        text-decoration: none;
                        user-select: none;

                        li {
                            list-style: none;
                            text-decoration: none;
                            padding: 10px;
                            cursor: pointer;

                            &:hover {
                                background: $c-g1;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        &_body {
            flex-basis: 90%;
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
    }
}

// SideBar
.sidebar_cnt {
    width: 100%;
    height: 100%;

    &_logo {
        width: 100%;
        height: 60px;
        padding: 5px;
        border-bottom: 1px solid $c-g2;
        // background: $c-b0;
    }

    &_menu {
        width: 100%;

        &_link {
            width: 100%;
            display: block;
            text-decoration: none;

            &_item {
                width: 100%;
                padding: 20px;
                cursor: pointer;
                color: $c-g10;

                &:hover {
                    background: $c-g1;
                }

            }

            &_active {
                background: $c-g1;
                cursor: pointer;
            }
        }
    }
}

// Toast
.toast_cnt {
    width: clamp(300px, 400px, 500px);
    height: 70px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    text-align: start;
    text-overflow: ellipsis;
    background: $c-g0;
    overflow: hidden;
    z-index: 20;

    .toast_body {
        width: 100%;
        height: 94%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        transition: all 1s;

        .message_box {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: 500;

            .message {
                margin-left: 10px;
            }
        }

        .close {
            cursor: pointer;
        }
    }


    .timeline {
        width: 100%;
        height: 5px;
        background: $c-g5;
        animation: timeline 5s linear;

        @keyframes timeline {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }
    }

    &.danger {
        .timeline {
            background: $c-r10;
        }
    }

    &.success {
        .timeline {
            background: $c-gr10;
        }
    }
}