@import "config.module.scss";

.table_cnt {
    width: 100%;
    height: 100%;

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            position: sticky;
            top: 0;
            background: $c-g0;
            outline: 1px solid $c-g2;
            outline-offset: -1px;

            th {
                font-weight: 500;
                padding: 10px;
                text-align: start;
            }
        }

        tbody {
            background: $c-g0;

            tr {
                td {
                    border-bottom: 1px solid $c-g2;
                    padding: 10px;
                    text-align: start;
                }

                &:hover {
                    background: $c-g1;
                }
            }
        }
    }
}